<form class="form-horizontal" style="margin-top:30px">

  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Event Name </label>
    <div class="col-sm-7">
      <input type="text" name="event_name" [(ngModel)]="event_name" class="form-control" id="inputEmail3" style="border-radius: 0%">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Date and Time</label>
    <div class="col-sm-7">
      <input type="text" name="date_and_time" [(ngModel)]="date_and_time" class="form-control" id="inputEmail3" style="border-radius: 0%">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Ticket Price</label>
    <div class="col-sm-7">
      <input type="text" name="ticket_price" [(ngModel)]="ticket_price" class="form-control" id="inputPassword3" style="border-radius: 0%">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Total Ticket</label>
    <div class="col-sm-7">
      <input type="text" name="total_ticket" [(ngModel)]="total_ticket" class="form-control" id="inputPassword3" style="border-radius: 0%">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Ticket Sold</label>
    <div class="col-sm-7">
      <input type="text" name="ticket_sold" [(ngModel)]="ticket_sold" class="form-control" id="inputEmail3" style="border-radius: 0%">
    </div>
  </div>
    
  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Ticket Remaining</label>
    <div class="col-sm-7">
      <input type="text" name="ticket_remaining" [(ngModel)]="ticket_remaining" class="form-control" id="inputPassword3" style="border-radius: 0%">
    </div>
  </div>

  <div class="form-group">
    <label class="col-sm-2 control-label" style="font-weight:100;font-family:'Times New Roman', Times, serif">Ticket Status</label>
    <div class="col-sm-7">
      <input type="text" name="ticket_status" [(ngModel)]="ticket_status" class="form-control" id="inputPassword3" style="width:8%;border-radius: 0%">
    </div>
  </div>
  <button type="submit">Add Event</button>
</form>
