<div class="container">
    <table class="table table-bordered table-striped">
    <tr>
    <th>Event Name</th>
    <th>Date and Time</th>
    <th>Ticket Price</th>
    <th>Total Ticket</th>
    <th>Ticket Sold</th>
    <th>Ticket Remaining</th>
    <th>Ticket Status</th>
    </tr>

    <tr *ngFor="let u of this.event.eventlist; let i = index">
    <td>{{ u.event_name }}</td>
    <td>{{ u.date_and_time }}</td>
    <td>{{ u.ticket_price }}</td>
    <td>{{ u.total_ticket }}</td>
    <td>{{ u.ticket_sold }}</td>
    <td>{{ u.ticket_remaining }}</td>
    <td>{{ u.ticket_status }}</td>
    </tr>
    </table>
</div>